<!DOCTYPE html>
<html>
<head>
    <title>Transferência de Fundos Realizada</title>
</head>
<body>
    <h1>Transferência de Fundos Realizada</h1>
    <p>Você realizou uma transferência de fundos com sucesso. Abaixo estão os detalhes da transferência:</p>

    <p>Tipo de Transferência: {{ transferType }}</p>
    <p>Número da Sua Conta: {{ accountNumber }}</p>
    <p>Valor Transferido: R$ {{ amount }}</p>
    <p>Descrição: {{ description }}</p>
    <p>Direção: {{ direction }}</p>

    <p>Obrigado por escolher nossos serviços!</p>
</body>
</html>